@font-face {
  font-family: Hawaii;
  src: url(/fonts/UHMFont.ttf) format('truetypefont');
}

@font-face {
  font-family: UHMFont;
  src: url(/fonts/UHMFont.otf);
}

.h1 {
  font-family: 'UHMFont', 'serif';
  font-size: 38px;
  font-weight: 200;
}

#nav-logo {
  margin-left: 20px;
}
